body {
    background-color:#FFFFF;
}

h1 {
    color:#CC33FF;
    text-align:right;
    opacity: 0.3;
    font-size:90px;
    background: #CCCCFF;
    margin-top: -10px;
    margin-bottom:30px;
    height:73px;
    border-bottom: dashed #FFCCFF 10pt;
}

table {
}

table tr th {
    background-color:#339900;
    color:white;
    border: solid 2px #006633;
}
.value_data {
    text-align:right;
}

table tr td {
    background-color:#faebd7;
    color:#000000;
    border: solid 1px #006633;
}

td.money {
    text-align:right;
}

.index_body {
    display:table;
    width:100%;
    font-size:12pt;
    background-color:#fffafa;
}

.index_left {
    display:table-cell;
    width:50%;
    color: black;
}

.index_center {
    display:table-cell;
    width:30%;
}

.index_right {
    display:table-cell;
    width:50%;
}

hr {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

.delete {
    color:red;
    font-size:20pt;
}


.out {
    float:left;
}

.in {
    float:left;
}
