{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'actress/css/style.css' %}" />
    <title>{{title}}</title>
</head>
<div class="container-fluid">
<h1>{{title}}</h1>
<nav class="navvar navbar-dark bg-dark">
    <td><a href="{% url 'actress:index' %}">メインページ</a></td>
</nav>

<body>
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}
    
</body>
</div>
</html>