{% load static %}
{% load boost %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'aggregate/css/style.css' %}" />
</head>
<body>


    <hr>
    
    <table>
    {% for item in index %}
    <td><a href="{% url 'index_page' item %}">
    <li>{{item}}</li></a><td>
    {% endfor %}
    </table>

    <hr>

    <h1>{{title}}</h1>
    {% for i in value_data %}
        {% for d in i %}
        <td>{{d.column_type}}</td>
        {% endfor %}
    {% endfor %}
    
        <hr>
    
<div class="main_table">
    <table>
        <tr>
            <th>日付</th>
            <th>決済種別</th>
            <th>項目</th>
            <th>項目詳細</th>
            <th>入金先</th>
            <th>金額</th>
        </tr>
        {% for item in page %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.pay_type}}</td>
            <td>{{item.column_type}}</td>
            <td>{{item.column}}</td>
            <td>{{item.pay_trans}}</td>
            <td>{{item.value}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
    <div>
    {% if page.has_previous %}
        <a href="{% url 'aggre_main' %}">&laquo;first</a>
        <a href="{% url 'aggre_main' %}{{page.previous_page_number}}">&laquo;prev</a>
    {% endif %}
    <span>
        [{{page.number}}/{{page.paginator.num_pages}}]
    </span>
    {% if page.has_next %}
        <a href="{% url 'aggre_main' %}{{page.next_page_number }}">next&raquo;</a>
        <a href="{% url 'aggre_main' %}{{page.paginator.num_pages}}">last&raquo;</a>
    {% endif %} 
    </div>
<p>pay_money,pay_credit,pay_income,food_value,goods_value,ent_value,trans_value,life_value,data_url</p>
    
</body>
</html>