{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'book/css/style.css' %}" />
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{message|safe}}</p>
    <table>
        <form action="{% url 'find' %}" method="post">
        {% csrf_token %}
        {{form}}
        <tr><th></th><td><input type="submit" value="検索"></td></tr>
        </form>
    </table>
    <hr>
    <table>
        <tr>
            <th>作者</th>
            <th>作品名</th>
            <th>ジャンル</th>
            <th>編集</th>
            <th>削除</th>
        <tr>
    {% for item in data %}
        <tr>
            <td>{{item.writer}}</td>
            <td>{{item.title}}</td>
            <td>{{item.sub}}</td>
            <td><a href="{% url 'edit' item.id %}">Edit</a></td>
            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <tr>
    <table>
        <tr>
            <th>Count</th>
        </tr>
        <tr>
            <td>{{data.count}}</td>
        </tr>
    </table>
</body>
</html>