{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'book/css/style.css' %}" />
</head>
<body>
    <h1>{{title}}</h1>
    <table>
        <tr>
            <th>Count</th>
            <th>Create</th>
            <th>find</th>
            <th>CSV</th>
        </tr>
        <tr>
            <td>{{data.count}}</td>
            <td><a href="{% url 'create' %}">新規作成</a></td>
            <td><a href="{% url 'find' %}">検索</a></td>
            <td><a href="{% url 'csv_check' %}">CSVインポート</a></td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>作者</th>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>読了日</th>
            <th>編集</th>
            <th>削除</th>
            
        </tr>
    {% for item in data%}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.writer}}</td>
            <td>{{item.title}}</td>
            <td>{{item.sub}}</td>
            <td>{{item.date|date:"Y-m-d"}}</td>
            <td><a href="{% url 'edit' item.id %}">Edit</a></td>
            <td><a href="{% url 'delete' item.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <hr>
</body>
</html>